{% extends 'baseFront.html.twig' %}

{% block body %}
<section class="categories-section spad">
    <div class="container">
        <div class="section-title">
            <h2>Our Events </h2>
            <p>You can see Our events here and enroll if you want .</p>
            <br>
        </div>
        <div class="row">

            {% for evenement in evenements %}
            <!-- categorie -->
                            <div class="col-lg-4 col-md-6">
                                <div class="categorie-item">
                                    <div class="ci-thumb set-bg" data-setbg="{{ asset('front-assets/img/courses/9.jpg') }}"></div>
                                    <div class="ci-text">
                                        <h5>{{ evenement.nomEvenement }}</h5>
                                        <p>{{ evenement.descriptionEvenement }}</p>
                                        <span>{{ evenement.timeEventDebut ? evenement.timeEventDebut|date('Y-m-d H:i:s') : '' }}</span>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <br>
                                <h2>no records found</h2>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </section>

{% endblock %}