{% extends 'baseFront.html.twig' %}

{% block title %}Clubs Index{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="section-title">Our Clubs</h2>

        <div class="row">
            {% for club in clubs %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">{{ club.nomClub }}</div>
                        <div class="card-body">
                            {% if club.logoClub %}
                                <div class="d-flex justify-content-center">  <!-- Centers the image horizontally -->
                                    <img src="data:image/png;base64,{{ club.logoClub|base64_encode }}" alt="Club Logo" width="150">
                                </div>
                            {% endif %}
                            <p>{{ club.descriptionClub }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('app_club_show', {'id': club.id}) }}" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
